#nav {
	font-family: 'Source Sans Pro', sans-serif;
	top:0px;
	left:0px;
	width: 100%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: rgba(0, 0, 0, 0.3);
	z-index:2;
	}
#nav li {
	float: left; width:250px; }
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: 600;
	color: #ffffff;
	text-align:center;
	transition:1s;
	 }
#nav li a:hover,a:active {
	background-color: rgba(0, 0, 0, 0.5); }
#nav li a.Selected{
	background-color:rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 450px) {
#nav li {
	 width:100%; }
}