body
{
color:White;
background-image:url('../static/images/bg.png');
background-size: cover;
background-repeat:no-repeat;
background-attachment:fixed;
background-color:Black;
margin-left: 5%;
margin-right: 5%;
font-size:1em;font-family: 'Source Sans Pro', sans-serif;font-weight:400;
}
h1{font-size:3.5em;font-family: 'Source Sans Pro', sans-serif;font-weight:300;}
h1.center{font-size:3.5em;font-family: 'Source Sans Pro', sans-serif;font-weight:300;text-align: center;}
h2{font-size:3em;font-family: 'Source Sans Pro', sans-serif;font-weight:300;}
h3{font-size:2.7em;font-family: 'Source Sans Pro', sans-serif;font-weight:300;}
h4{font-size:2.2em;font-family: 'Source Sans Pro', sans-serif;font-weight:300;}
h5{font-size:1.8em;font-family: 'Source Sans Pro', sans-serif;font-weight:300;}
p{font-size:1em;font-family: 'Source Sans Pro', sans-serif;font-weight:400;}
q{font-size:1em;font-family: 'Source Sans Pro', sans-serif;font-weight:400;font-style:italic;}
.log{font-family: 'Source Code Pro', Courier, monospace;font-weight:400;}
li{font-size:1em;font-family: 'Source Sans Pro', sans-serif;font-weight:400;}
h1.contentheading{display:inline}
p.large{font-size:1.5em; font-weight:400}
p.largelight{font-size:1.5em; font-weight:300}
div.content
{
padding-bottom:20px;
padding-left:20px;
padding-right:20px;
padding-top:5px;
background-color:rgba(0, 0, 0, 0.3);
}
div.contentred
{
background-color:rgba(255, 76, 0, 0.3);
margin-bottom:30px;
}
div.footer
{
margin-left:auto;
margin-right:auto;
width:800px;
padding-top: 20px;
}
p.footerctr
{
font-weight:300;
font-size: 0.813em;
text-align: center;
}
p.footer
{
font-weight:300;
font-size: 0.813em;
}
img {
padding:10px;
}
img.banner
{
width: 660px;
height: 100px;
}
img.screenshot
{
width:70%;
height:70%;
max-width:1920px;
}
img.head 
{
width:100px;
height:100px;
}
h1.pos_fixed
{
position:fixed;
top:0px;
right:100px;
font-weight:200;
font-family: 'Source Sans Pro', sans-serif;
font-size:9em;
color:#D3D3D3;
z-index:-2;
}
h1.bigtitle
{
font-weight:200;
font-family: 'Source Sans Pro', sans-serif;
font-size:9em;
color:#D3D3D3;
text-align:left;
margin:0px;
}
form {
	width:459px;
}

label {
	display:block;
	margin-top:20px;
	font-size:1em;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight:400;
}
input, textarea {
	width:650px;
	height:27px;
	font-family: 'Source Sans Pro', sans-serif;
	background:transparent;
	padding:10px;
	margin-top:3px;
	font-size:1em;
	color:white;
	border:2px solid white;
	transition:1s;
}
input#submit.appealbanbutton {width: 250px;}
input:focus, textarea:focus, a.portal:focus, a.button:focus {
	background-color:rgba(0, 0, 0, 0.5);
}
input:hover, textarea:hover, a.portal:hover, a.button:hover
{
background-color:rgba(0, 0, 0, 0.5);
}
textarea {
    height:300px;
	font-family: 'Source Sans Pro', sans-serif;
}
#submit {
	width:127px;
	height:38px;
	border:none;
	margin-top:20px;
	cursor:pointer;
	border:2px solid white;
}
iframe
{
width: 95%; height: 90%;
}
a.portal
{
display:block;
padding-top:75px;padding-bottom:75px;
width:450px;
font-size:3em;font-family: 'Source Sans Pro', sans-serif;font-weight:300;
color:white;
border:2px solid white;
text-decoration: none;
text-align:center;
margin:0 auto;
transition:1s;
}
a.button
{
display:block;
padding:5px;
width:350px;
font-size:1.2em;font-family: 'Source Sans Pro', sans-serif;font-weight:300;
color:white;
border:2px solid white;
text-decoration: none;
text-align:center;
transition:1s;
}
a, img {
    border:none;
    outline:none
}
hr{background-color:White; border-width:0; color:White; height:2px; display: inline-block; width:70%;}

.green{color:#00FF00;}
.yellow{color:#FFDD00;}
.red{color:#FF4C00;}

@media screen and (max-width: 650px) {
	a.button
	{
	width:100%;
	}
	input, textarea {
	width:100%;
    }
	form {
	width:95%;
    }
	#submit {
	width:100%;
	}
    input#submit.appealbanbutton {width: 100%;}
	h1{font-size:2.2em;}
    h1.center{font-size:2.2em;}
    h2{font-size:2em;}
    h3{font-size:1.7em;}
    h4{font-size:1.4em;}
    h5{font-size:1.2em;}
	p.large{font-size:1.1em;}
    p.largelight{font-size:1.1em;}
	hr{width:100%;}
	img.banner
      {
    width: 100%;
    height: 100%;
    }
    img.screenshot
      {
    width:100%;
    height:100%;
    }
}
@media screen and (max-width: 450px) {
	a.portal
	{
	width:100%;
	}
}